/* coomon code start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
/* coomon code end */
/* container code start */
#container {
  background-color: #122e43;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* first code start */
.first h2 {
  color: white;
}
.first span {
  color: #31a3d6;
}
.about-img {
  width: 100px;
  border-radius: 50%;
  border: 4px solid white;
}
/* first code end */
/* second code start */
.second {
    width: 500px;
}
.second p {
  text-align: center;
  color: white;
}
/* second code end */
.about-btn {
  width: 200px;
  font-size: 1.3rem;
  background-color: #31a3d6;
  border: none;
  margin-top: 10px;
  border-radius: 20px;
}
/* container code end */
